@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&family=Ubuntu&display=swap');

body{
    margin:0;
    background-color: #E6FFFD;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: bold;
    /* margin-top:15px; */
    margin-bottom: 50px;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#logo{
    width:50px;
    height:37px;
}


#header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0,0, 0, 0.06);
}

#navbar{
    display:flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: light;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover{
    color:#088178;

}

/* Main  */

#main{
    width:100%;
    height:100%;
    /* background-color: aqua; */
    padding: 15px 0px;
    position: relative;
    margin: 0, auto;
    
}

.left-box{
    float:left;
    
    
    position: absolute;
    background-color: #E3E6F3;
    width: 15%;
    height: auto;

    box-shadow: 0px 5px 10px black;
    border-radius: 10px;
}

nav a{
    list-style: none;
    
    padding: 20% 39%;
    color: #1a1a1a;
    font-size:2rem;
    display:block;
    transition: all 0.3s ease-in-out;
}

nav a:hover{
    color: #A459D1;
    transform: scale(1.1);
}

nav a.active{
    color: #A459D1;

}

.right-box{
    width: 50%;
    margin-left: 25%;
    margin-top: -25px;
}

.input, p{
    border:0;
    border-bottom: 1px solid #A459D1;
    background: none;
    width:80%;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    outline:none;
    padding: 7px 0;
}

.btn{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-top:20px;
    margin-left:200px;
    align-items: center;
    background-color: #A459D1;
    color:#fff;
    border: none;
    width: 200px;
    border-radius: 20px;
    box-shadow: 2px, 2px, 4px, 0px;
}

.btn:hover{
    cursor: pointer;
}
